---
http_interactions:
- request:
    method: get
    uri: https://api.icndb.com/jokes/random?exclude=%5Bexplicit%5D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{ "type": "success", "value": { "id": 248, "joke": "Chuck Norris once
        shat blood - the blood of 11,940 natives he had killed and eaten.", "categories":
        [] } }'
  recorded_at: Sat, 04 Jun 2016 19:34:04 GMT
recorded_with: VCR 3.0.3
