---
http_interactions:
- request:
    method: get
    uri: https://api.icndb.com/jokes/random?exclude=%5Bexplicit%5D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{ "type": "success", "value": { "id": 381, "joke": "Diamonds are not,
        despite popular belief, carbon. They are, in fact, Chuck Norris fecal matter.
        This was proven a recently, when scientific analysis revealed what appeared
        to be Jean-Claude Van Damme bone fragments inside the Hope Diamond.", "categories":
        [] } }'
  recorded_at: Sat, 04 Jun 2016 19:38:06 GMT
recorded_with: VCR 3.0.3
