---
http_interactions:
- request:
    method: get
    uri: https://api.icndb.com/jokes/random?exclude=%5Bexplicit%5D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{ "type": "success", "value": { "id": 422, "joke": "Mr. T pities the
        fool. Chuck Norris rips the fool''s head off.", "categories": [] } }'
  recorded_at: Sat, 04 Jun 2016 19:34:05 GMT
recorded_with: VCR 3.0.3
