---
http_interactions:
- request:
    method: get
    uri: https://api.flickr.com/services/rest/?api_key=cf98d073b9702a72f85d2c3abdfb49cb&format=json&method=flickr.photos.search&nojsoncallback=1&per_page=10&sort=relevance&text=sky
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Y-Trace:
      - BAEAQAAAAAAs9GV6LPxTzAAAAAAAAAAAXb1UjaJU2gAAAAAAAAAAAAAFNHi3gj4HAAU0eLeG55vYwoULAAAAAA--
    body:
      encoding: ASCII-8BIT
      string: '{"photos":{"page":1,"pages":1028094,"perpage":10,"total":"10280937","photo":[{"id":"10298492824","owner":"8188882@N05","secret":"bf52c534cd","server":"5488","farm":6,"title":"sky","ispublic":1,"isfriend":0,"isfamily":0},{"id":"14473561447","owner":"36587311@N08","secret":"b59017b14f","server":"3851","farm":4,"title":"Sky","ispublic":1,"isfriend":0,"isfamily":0},{"id":"8056940976","owner":"69148745@N02","secret":"5f2664236f","server":"8030","farm":9,"title":"sky","ispublic":1,"isfriend":0,"isfamily":0},{"id":"7495373568","owner":"8188882@N05","secret":"5dd70c0583","server":"8023","farm":9,"title":"sky","ispublic":1,"isfriend":0,"isfamily":0},{"id":"14201295459","owner":"36587311@N08","secret":"d26d614794","server":"2912","farm":3,"title":"Sky","ispublic":1,"isfriend":0,"isfamily":0},{"id":"12964449193","owner":"36587311@N08","secret":"ddeaebbe81","server":"7300","farm":8,"title":"Sky","ispublic":1,"isfriend":0,"isfamily":0},{"id":"3491358286","owner":"21692577@N02","secret":"6e04fb357f","server":"3408","farm":4,"title":"sky","ispublic":1,"isfriend":0,"isfamily":0},{"id":"15954975067","owner":"8188882@N05","secret":"2c070a1394","server":"8626","farm":9,"title":"sky","ispublic":1,"isfriend":0,"isfamily":0},{"id":"10204178846","owner":"36587311@N08","secret":"2b567877f3","server":"8535","farm":9,"title":"Sky","ispublic":1,"isfriend":0,"isfamily":0},{"id":"14136304757","owner":"28596055@N02","secret":"e138bf8932","server":"5113","farm":6,"title":"sky","ispublic":1,"isfriend":0,"isfamily":0}]},"stat":"ok"}'
  recorded_at: Sat, 04 Jun 2016 19:19:23 GMT
recorded_with: VCR 3.0.3
