---
http_interactions:
- request:
    method: get
    uri: https://api.flickr.com/services/rest/?*&api_key=cf98d073b9702a72f85d2c3abdfb49cb&format=json&method=flickr.photos.search&nojsoncallback=1&per_page=10&sort=relevance&text=!@!@%5E
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Y-Trace:
      - BAEAQAAAAACxuKhu_Qy7xQAAAAAAAAAAXb1UjaJU2gAAAAAAAAAAAAAFNHi3kE54AAU0eLeSCVxoNYK3AAAAAA--
    body:
      encoding: ASCII-8BIT
      string: '{"photos":{"page":1,"pages":0,"perpage":10,"total":"0","photo":[]},"stat":"ok"}'
  recorded_at: Sat, 04 Jun 2016 19:19:24 GMT
recorded_with: VCR 3.0.3
