---
http_interactions:
- request:
    method: get
    uri: https://api.flickr.com/services/rest/?api_key=cf98d073b9702a72f85d2c3abdfb49cb&format=json&method=flickr.photos.search&nojsoncallback=1&per_page=10&sort=relevance&text=Chuck%20Norris
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Y-Trace:
      - BAEAQAAAAABU254U0yS16wAAAAAAAAAAXb1UjaJU2gAAAAAAAAAAAAAFNHi3jL3JAAU0eLePFUNkygS_AAAAAA--
    body:
      encoding: ASCII-8BIT
      string: '{"photos":{"page":1,"pages":1700,"perpage":10,"total":"16993","photo":[{"id":"8488371245","owner":"92828648@N08","secret":"738f0c3754","server":"8374","farm":9,"title":"chuck
        norris @ white house","ispublic":1,"isfriend":0,"isfamily":0},{"id":"4461141071","owner":"90324115@N00","secret":"b449ca6069","server":"4043","farm":5,"title":"Chuck
        Norris","ispublic":1,"isfriend":0,"isfamily":0},{"id":"4562684830","owner":"47696063@N00","secret":"b4e069287e","server":"3439","farm":4,"title":"Chuck
        Norris at Actionfest - Carlos Ray Norris","ispublic":1,"isfriend":0,"isfamily":0},{"id":"4562684610","owner":"47696063@N00","secret":"a3677206ff","server":"3436","farm":4,"title":"Chuck
        Norris at Actionfest - Carlos R[...]
