<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="<%= nerdy_path %>">Nerdy</a>
                </li>
                <li>
                    <a class="page-scroll" href="<%= mashups_path %>">Random</a>
                </li>
                <li>
                    <a class="page-scroll" href="<%= favorites_path %>">Best•Mashups</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Intro Header -->
<header class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1 class="brand-heading">Chuck•Mash</h1>
          <p class="intro-text">A Chuck Norris joke / photo mashup</p>
          <script>
              $(document).ready(function (){
                  $("#click").click(function (){
                      $('html, body').animate({
                          scrollTop: $("#about").offset().top
                      }, 700);
                  });
              });
          </script>
          <a href="#about" id="click" class="btn btn-circle page-scroll">
            <i class="fa fa-angle-double-down animated"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- About Section -->
<section id="about" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>About Chuck•Mash</h2>
      <p>Chuck•Mash is a text/photo mashup using Chuck Norris jokes from the <a href="http://www.icndb.com/api/">Internet Chuck Norris Database</a> (ICNDB) and the <a href="https://www.flickr.com/services/api/">Flickr API</a>.</p>
      <p>After a joke is retrieved from the ICNDB, key phrases are pulled out of the joke text using the ruby gem <a href="https://github.com/yohasebe/engtagger">EngTagger</a>. This becomes the search term for the Flickr photos.</p>
      <p>Once a Mashup is created, users can favorite the best combinations and view the overall top favorited pairs.</p>
    </div>
  </div>
</section>

<!-- Contact Section -->
<section id="contact" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>Contact Lisa</h2>
      <p>Provide some feedback, report a bug, or just say hello!</p>
      <p><a href="mailto:lisa.sano@gmail.com">lisa.sano@gmail.com</a>
      </p>
      <ul class="list-inline banner-social-buttons">
        <li>
            <a href="https://www.linkedin.com/in/lisa-rolczynski-507a1811" class="btn btn-default btn-lg"><i class="fa fa-linkedin-square" aria-hidden="true"></i> <span class="network-name">LinkedIn</span></a>
        </li>
        <li>
            <a href="https://github.com/Lisa-Sano/chuck-norris-photo-mashup" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
        </li>
        <li>
            <a href="https://twitter.com/_lisa_sano_" class="btn btn-default btn-lg"><i class="fa fa-twitter" aria-hidden="true"></i> <span class="network-name">Twitter</span></a>
        </li>
      </ul>
    </div>
  </div>
</section>

 <!-- Footer -->
<footer id="copyright">
  <div class="container text-center">
    <span class='copy'>Copyright &copy; Lisa<span class="heart">❤︎</span>Sano 2016</span>
  </div>
</footer>

