---
http_interactions:
- request:
    method: get
    uri: https://api.icndb.com/jokes/random?limitTo=%5Bnerdy%5D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{ "type": "success", "value": { "id": 543, "joke": "Chuck Norris''s
        programs can pass the Turing Test by staring at the interrogator.", "categories":
        ["nerdy"] } }'
  recorded_at: Sat, 04 Jun 2016 19:36:48 GMT
recorded_with: VCR 3.0.3
