<div class="panel panel-default">
  <table class="table">
    <tbody>
      <tr>
        <td class="vert-align left-col">
          <p class="favorite">
            <%= link_to favorite_path(photo: photo, joke: joke), method: :post, class: "favorite-a" do %>
              <img class="favorite-logo" src="http://ih1.redbubble.net/image.52306500.4842/sticker,375x360.u2.png">
            <% end %>
          </p>
          <% unless favorites.nil? %>
            <p class="likes"><%= favorites %></p>
          <% end %>
        </td>

        <td class="middle-col">
          <div class="media">
            <div class="media-left media-middle middle-col-photo">
              <img class="media-object" src="<%= photo %>">
            </div>
          </div>
        </td>

        <td class="right-col">
          <div class="media">
            <div class="media-body right-col">
              <p class="media-heading joke"><%= raw joke %></p>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
